.view-mode {
    display: flex;
    justify-content: center;

    > div {
        align-items: center;
        background-color: #000000;
        border-radius: 10px;
        color: #ffffff;
        display: inline-flex;
        font-weight: 500;
        justify-content: center;
        margin: 20px 0;
        padding: 20px;
    }

    select {
        appearance: none;
        border: none;
        background-color: transparent;
        color: #ffffff;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
}
